.Top-heading {
  background-color: gold;
  padding-top: 1px;
}

/*body background*/
@keyframes change-bg {

  0%,
  100% {
    background-image: url('pics/dc.jpg');
  }

  33% {
    background-image: url('pics/ShreveportLA.jpg');
  }

  66% {
    background-image: url('pics/Uptown\ Charlotte\ skyline.jpg');
  }
}

.mainBackground {
  padding-top: 1px;
  padding-bottom: 30px;
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  animation: change-bg 50s infinite;
}
/* end of body background*/


.Bottom-footer {
  background-color: gold;
  padding-top: 0px;
  padding-bottom: 240px;
}